.page {
    margin-top: 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    & label {
        margin-top: 10px;
    }
}

.center1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  & a {
      text-decoration: none;
      color: white;
      font-size: larger;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.center {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    & a {
        text-decoration: none;
        color: white;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.center:hover {
    cursor: pointer;
}
.alert {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grupo1 {
    display: flex;
    & div {
        flex: 1;
        margin: 5px;
    }
}
