.tamañoButton {
    flex: 1;
    margin: 20px;
}

.buttonOrder {
    display: flex;
    justify-content: space-around;
    flex: 0;
}

.space {
    margin-top: 10px;
    display: flex;
    cursor: pointer;

    justify-content: center;
}

.button {
    font-size: larger;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
