.card {
    background-color: #000a;
    border-radius: 10px;
    border: 2px solid rgb(92, 0, 0);
    padding: 10px;
    margin-top: 20px;
    transition: 0.5s ease all;
    & h3 {
        text-decoration: underline;
    }
}

.enlace {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.enlace:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(173, 0, 0);
}

.izquierda {
    margin-top: 30px;
    justify-content: end;
    display: flex;
}

.modal {
    color: black;
}
