.cardStyle:hover {
  box-shadow: 0 0 30px red;
  transform: scale(1.1);
  transition: 0.5s ease all;
  object-fit: cover;
  cursor: pointer;
}
.cardStyle {
  width: 18rem;
  transition: 0.5s ease all;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.logoutButton{
  width: 150px;
}

.alignStyle{
  margin-top: 100px;
  align-items: center;
}


