.navBar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgb(0, 0, 0);
    & a /*[href]*/ {
        text-decoration: none;
        font-size: larger;
        color: rgb(255, 255, 255);
        font-weight: 900;
        transition: 0.5s ease all;
        &:hover {
            color: rgb(255, 0, 0);
            transition: 0.5s ease all;
        }
    }
}
.imgLogo {
    filter: drop-shadow(0px 0px 7px black);
    width: 70px;
    height: 70px;
}
.navBrand {
    flex: 1;
    text-align: center;
}
.navTabs {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex: 2;
    & img {
        margin-right: 5px;
        margin-bottom: 8px;
    }
}
.navProfile {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    & img {
        width: 30px;
        height: 30px;
    }
}
