.page {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 100px;
    border-top: 1px solid grey;
    padding-top: 20px;

}
@media screen and (max-width: 1560px) {
    .page {
        grid-template-columns: repeat(2, 1fr);
    }
}

.enlace {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.enlace:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(173, 0, 0);
}
.titulo {
    display: flex;
    flex: 1;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.letras {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Assessment {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
}
