.cards {
    display: flex;
    padding-bottom: 20px;
    gap: 30px;
    justify-content: space-around;
    & button {
        margin-top: 10px;
    }
}

.resto {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.otro {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    & input {
        margin-bottom: 10px;
        border-radius: 5px;
    }
}

.borders {
    text-align: center;

    min-width: 1000px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.modal {
    color: black;
}
