body {
    color: white;
    /* background-image: url("./resources/desfile-autos-deportivos-o-carrera-carretera.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #181818;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #333;
}
::-webkit-scrollbar-thumb:hover {
    background: #222;
}
main {
    display: flex;
    justify-content: center;
}

.centrado {
    text-align: center;
}

.App-logo {
    pointer-events: none;
}

.App-header {
    background-color: #1b1b1b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Degradado */
html {
    min-height: 100%;
}

body {
    background: rgb(37, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(37, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
}
